[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygithub = "*"
langchain = "*"
langchain-community = "*"
openai = "*"
tiktoken = "*"
sentence-transformers = "*"
python-dotenv = "*"
pinecone = "*"
pinecone-plugin-inference = "==2.0.0"
pinecone-client = "==3.0.0"
yfinance = "*"
langchain-pinecone = "*"
gitpython = "*"
flask = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
